pj_media/testdata/
/.cache/
/build/*
*/build/*
/pj_media/mcap_player/build/*
/plugins/dialog_protocol/build/*
/perf.data*
/.qt/
/.vscode/*
/CMakeUserPresets.json
/aqtinstall.log
/.pixi/
/output/
/build-test/
# Local `conan create` artifacts from testing the staged Conan Center recipe
# (see packaging/conan-center-index/README.md). Anchored here so they never
# leak into the recipe tree that gets copied into the conan-center-index fork.
/packaging/conan-center-index/recipes/plotjuggler_sdk/all/test_package/build/
/packaging/conan-center-index/recipes/plotjuggler_sdk/all/test_package/CMakeUserPresets.json
