build/
.qt/
CMakeUserPresets.json
pj_datastore/.cache/
pj_datastore/test_data/
pj_datastore/benchmark_reports/
pj_plugins/dialog_protocol/build*
.vscode/
.worktrees/
.cache/
/pj_datastore/docs/node_modules/
pj_ported_plugins
aqtinstall.log
pj-official-plugins/
